<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppBanHangTG"
        tools:targetApi="31">
        <activity
            android:name=".Activity.chucvuProfile"
            android:exported="false" />
        <activity
            android:name=".Activity.BillDetail"
            android:exported="false" />
        <activity
            android:name=".Activity.AddVote_Product"
            android:exported="false" />
        <activity
            android:name=".Activity.VoteProduct1"
            android:exported="false" />
        <activity
            android:name=".Activity.AddOrUpdate_Shop"
            android:exported="false" />
        <activity
            android:name=".Activity.Bill2"
            android:exported="false" />
        <activity
            android:name=".Activity.Bill1"
            android:exported="false" />
        <activity
            android:name=".Activity.VoteProduct"
            android:exported="false" />
        <activity
            android:name=".Activity.PurchaseOrder"
            android:exported="false" />
        <activity
            android:name=".Activity.MyShop"
            android:exported="false" />
        <activity
            android:name=".Activity.Bill"
            android:exported="false" />
        <activity
            android:name=".Activity.Cart"
            android:exported="false" />
        <activity
            android:name=".Activity.Cartting"
            android:exported="false" />
        <activity
            android:name=".Activity.SetNewPassWord"
            android:exported="false" />
        <activity
            android:name=".Activity.AddOrUpdate_ProductShop"
            android:exported="false" />
        <activity
            android:name=".Activity.AddorUpdate_VoteShop"
            android:exported="false" />
        <activity
            android:name=".Activity.AddOrUpdate_Address"
            android:exported="false" />
        <activity
            android:name=".Activity.Address"
            android:exported="false" />
        <activity
            android:name=".Activity.AccountSetting"
            android:exported="false" />
        <activity
            android:name=".Activity.ProfileDetail"
            android:exported="false" />
        <activity
            android:name=".Activity.ProductDetail"
            android:exported="false" />
        <activity
            android:name=".Activity.Shop"
            android:exported="false" />
        <activity
            android:name=".Activity.AddOrUpdate_User"
            android:exported="false" />
        <activity
            android:name=".Activity.HomeShip"
            android:exported="false" />
        <activity
            android:name=".Activity.HomeUser"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Register"
            android:exported="false" />
        <activity
            android:name=".Activity.HomeAdmin"
            android:exported="false" />
        <activity
            android:name=".Activity.Login"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>